[2013-10-29 14:19] bthibault opened #1 "Interpreted rule should be available in JSON format"
serialize(
        Hoa\Ruler::interprete(
            'logged(user) and group in ("customer", "guest") and points > 30'
        )

This might be good for storing in a relational db, but for those of us using NoSql db like Mongo, It would be nice to get a JSON encoded rule model ...

[2014-02-08 14:12] flip111 opened #2 "Can the ruler output stand-alone PHP?"
Taken from the readme

[code]

There is an example of how to convert it to PHP code by calling `Hoa\Ruler\Ruler::interprete`. But this return `\Hoa\Ruler\Model` objects. Is it also possible generate stand-alone PHP code?

Getting a closure like this

[code]

would be great to reuse the code in projects and test it with PHP directly.

Perhaps it can be done with using the Hoa compiler ??

[2014-02-12 17:32] flip111 opened #3 "Disassembler buggy"
I tested the disassembler (`Hoa\Ruler\Visitor\Disassembly`) for a rule like "true or false", this works. But when i test this rule it doesn't work:

[code]

Error: `Undefined offset: 1`

[2014-02-12 18:02] flip111 opened #4 "Disassembler: parentheses"
Hi, the disassembler does not produce the original rule back in some cases. But adds unnecessary parentheses. Consider the following code:

[code]

This outputs `(2 = 3)` where the `2 = 3` without parentheses should be sufficient (as the original rule).

[2014-02-12 18:08] #3 closed, assigned to Hywan

[2014-02-12 18:09] #4 closed, assigned to Hywan

[2014-02-14 10:41] flip111 opened #5 "Asserter get all operators"
I would like a function to get all operators (closures) that are defined for a ruler. So far only a `getOperator` method is available. Which makes it kind of a blackbox if you don't know the operator name up front.

[2014-02-14 10:48] #5 closed, assigned to Hywan

[2014-02-15 22:47] flip111 opened #6 "defaultAsserter as static leading to problems??"
Hi,

I'm running two tests. Each test has it's own `Ruler`, but i think that both rulers share the same `Asserter` because it is declared as static in the ruler class. This leads to operators being available in the second ruler which where defined in the first ruler.

A workaround would be to use the new `getOperators()` method to get all the operators. And then call `setOperator` with value null

[2014-02-24 09:59] #6 closed, assigned to Hywan

[2014-02-27 18:02] ghost opened #8 "Provide array and object access"
It would be great to see array and object access in rules:

Array access:

[code]

Object access:

[code]

[2014-03-02 10:18] Hywan opened #11 "Add native arithmetical expressions support"
A trivial merge of [`Hoa\Math`](https://github.com/hoaproject/Math) in this library to get native arithmetical expressions support.

It will introduce a change (so a break) in the grammar. Array declarations will be `[1, 2, 3]` and no longer `(1, 2, 3)`. The library has the RC state, so we can still introduce BC breaks. I particulary ask @stephpy, @shouze and @osaris to get their feedbacks :-).

N

[2014-03-03 08:40] #8 closed, assigned to stephpy

[2014-03-09 20:29] #2 closed, assigned to stephpy

[2014-03-27 08:43] ncosmin2001 opened #14 ""in" operator problem"
Hello,
for a rule like $rule = 'group in ("customer")' an exception is thrown
i don't know if bug or intended.

It appears the "in" doesn't work with a single value only with two or more

[2014-03-27 08:46] ncosmin2001 opened #15 "New added operators list"
It would be nice if we had a list of new added operators if is the case

For example for the rule :

[code]

will return something like

[code]

[2014-03-28 07:14] #14 closed, assigned to Hywan

[2014-08-07 17:31] jaimz22 opened #17 ""in" operator fails when array contains a single item"
Suppose you have a rule:

[code]

This evaluates to true, which is correct.

However if your array has a single item:

[code]

You receive an fatal error:

[code]

[2014-08-08 06:56] #17 closed, assigned to Hywan

[2014-09-28 19:33] #1 closed, assigned to nobody

[2014-11-03 17:11] th3fallen opened #27 "add ability to pass operator via context"
It would be fantastic if i could pass the operator in via the context like the following example

[code]

[2014-11-04 15:00] #27 closed, assigned to Hywan

[2014-11-12 10:58] popra opened #29 "Droping PHP version support"
Hello,

I don't expect this to be fixed, but wanted to sound the horn that dropping support for PHP 5.3 in a revision version (least significant number) creates a lot of problems for downstream users like us.
Ideally this change would have been signaled, to the least, with a minor version bump.

Thanks,
Razvan

[2014-11-27 07:42] gael-wogenstahl opened #32 "Could identifiers start with a digit?"
Bonjour,

Pour faire suite à cette discussions sur la mailing list support d'Hoa => http://lists.hoa-project.net/arc/support/2014-11/msg00004.html, je pense que la grammaire de reconnaissance des identifiants pour l'interprétation des règles peut être améliorée.

En effet, dans le cas d'identifiants commençant par un chiffre comme 1_identifiant, le premier caractère est reconnu comme un entier et

[2014-12-04 17:24] vonglasow opened #33 "Introduce lazy evaluation in functions/operators"
For example, if I have a rule
[code]
and group is not customer neither guest we don't need to evaluate points > 30 and directly return false.

[2014-12-08 18:46] crislinu opened #35 "Generating invalid PHP code with Hoa\Ruler\Visitor\Compiler::visit"
Hi,

If we have the following rule:

[code]

then when we try to see the PHP code needed to create the model, we will get a _PHP code that has syntax errors._

[code]

You can see that right after `logged` there is a comma and then a closed parenthesis. This leads to a syntax error.
This happens when a method is called with no arguments. The `logged` method has no arguments.

[2014-12-09 17:28] #35 closed, assigned to Hywan

[2015-01-06 05:47] gael-wogenstahl commented on #32
Hello guys, have you been thinking about this question and updating the grammar ?
I reckon those identifiers aren't allowed in other languages but one of Hoa Ruler purpose can be to simplify the writing of business rules and possibly be used by non-programming-standard-aware people. In that case (which I admit is closer to mine) it could be a limitation.

[2015-01-06 08:22] Hywan commented on #32
I will close this issue as soon as possible, sorry for the delay :-).

[2015-01-07 11:00] vonglasow opened #41 "Add error message when assert is false"
Take an example
[code]
Ok so we have here a rule not respected, but why this rule doesn't passed is it because we have the user logout or because them points is <= 30
It could be useful to identify the reason of breaking rules. But all rules depends on operator so I think the operator could provide a property with error message when the result of validation is false and aggregate in ruler to got i

[2015-01-07 12:36] Hywan commented on #41
Huge :+1: on this one!

[2015-01-17 00:00] simkimsia commented on #41
:+1:

[2015-01-17 00:03] simkimsia commented on #33
technically speaking, i think this is called boolean short circuit evaluation. Here is a stackoverflow question on this topic http://stackoverflow.com/q/1232603/80353 I think this will be a good feature especially for use cases with 1000s of rules that require assertions

[2015-01-19 07:13] Hywan commented on #33
@simkimsia It will be enable by default ;-). Thanks for the link!

[2015-01-19 09:04] shouze commented on #33
:+1: Woot Woot!

[2015-01-23 11:17] jgoux opened #44 "add custom alias to operators"
Hello,
is it possible to add custom alias to the operators and/or for example ?
I'd like to translate them in french, so "and" would be aliased by "et" and "or" by "ou".

Thanks for this awesome piece of software. :)

[2015-01-23 12:58] Hywan commented on #44
Hello :-),

Check this line here: https://github.com/hoaproject/Ruler/blob/master/Visitor/Asserter.php#L89. Does it help?

[2015-01-23 13:07] #29 closed

[2015-01-23 13:41] jgoux commented on #44
Merci beaucoup !

[2015-01-23 13:41] #44 closed

[2015-01-23 13:46] jgoux opened #45 "Chain after a function call"
Hello,
it's not possible to chain after a function call.
For example if I define a variable in the context which return an object, I'm unable to access the object's properties / functions.
This exception is thrown :

[code]

[2015-01-23 22:09] Hywan commented on #32
See #46.

[2015-01-26 09:02] stephpy commented on #45
Hi,

You mean `get_user(1).id` where `get_user(1)` would return a `User` instance ?

Indeed, it's not supported at this time.

[2015-01-26 09:04] stephpy commented on #29
@popra Hoa does not use Semver but its own versioning system [Rush Release](http://mnt.io/P/2014-09-15_Rush_release.html)

[2015-01-26 09:11] jgoux commented on #45
@stephpy Yes, exactly this.

[2015-01-26 09:43] popra commented on #29
@stephpy / @Hywan this is not a topic about semver (which btw you're not compatible with ... sorry), neither it is about PHP 5.3 EOL. It seems you're not following your own release conventions. Looking at the link you posted (http://mnt.io/P/2014-09-15_Rush_release.html), I've noticed:

While it's advertised that x should be bumped on a BC break, between version 0.14.09.16 and 0.14.09.17 you remov

[2015-01-26 09:54] Hywan commented on #29
@popra Because it's `0`, it means that the library is not finalized, it's like `0.y.z` with semver, we do whatever we want on this version number :-).

[2015-01-26 09:58] Hywan commented on #29
Up-to-date definition of Rush Release: http://hoa-project.net/Source.html#Rush_Release (in case someone wonders if it's ony on mnt.io: nop :-)).

[2015-01-26 09:58] Hywan commented on #45
@stephpy Yup, I assign the bug to me.

[2015-01-28 03:13] gael-wogenstahl commented on #41
+1

[2015-01-30 12:36] #32 closed

[2015-01-30 12:37] Hywan commented on #32
It will create too much conflicts and decrease performances if we implement this feature. So, unless someone finds a better solution than I did, I close this issue :-).

[2015-02-02 10:14] Hywan opened #47 "Add a pattern matching operator/function"
Could be useful for such usecases: https://github.com/agallou/ruler-extension. Examples:
[code]

ping @jubianchi, @stephpy and @agallou.

[2015-02-02 18:09] ekoome opened #48 "Ruler hackbook"
When would the hackbook /documentation be available for HOA/Ruler?

[2015-02-03 08:51] Hywan commented on #48
@ekoome I am currently working on it. I hope to get the documentation released in 1 or 2 months (in 2 languages).

[2015-02-03 08:52] #48 closed

[2015-02-03 08:52] Hywan commented on #48
(feel free to question me; I closed the issue because I answered to your question)

[2015-02-03 09:22] ekoome commented on #48
Do you have a draft in any language you can share? Interested in the project and keen to get started with the details.

[2015-02-03 09:44] Hywan commented on #48
@ekoome Not yet, but watch this repository, you will receive a notification.

[2015-02-03 15:09] Hywan opened #49 "test"

[2015-02-03 15:12] #49 closed

[2015-02-04 15:03] th3fallen opened #50 "Context executing native php functions"
Per our conversation on IRC when a user uses a native php function in a rule assertion i.e. `file equals files` Ruler is actually executing the native php function `file` instead of parsing it as the string it is.

The offender you spoke of is located here
https://github.com/hoaproject/Ruler/blob/master/Context.php#L116

[2015-02-04 15:04] Hywan commented on #50
Canonical URL: https://github.com/hoaproject/Ruler/blob/1b5083f4e2abadc8957cee9ca89f887fb2695db5/Context.php#L116.

[2015-02-04 15:05] Hywan commented on #50
I am going to make a PR as soon as possible.

[2015-02-05 16:05] #50 closed

[2015-02-05 16:06] Hywan commented on #50
New snapshot: `1.15.02.05`.

[2015-02-16 13:16] vonglasow commented on #33
I think is done ;)

[2015-02-16 13:16] #33 closed

[2015-02-16 13:17] Hywan commented on #33
@vonglasow Thanks for the clean up;-).

[2015-02-16 14:43] Hywan commented on #45
This issue is a little bit postponed because I would like to have better tests before. See https://github.com/hoaproject/Regex/issues/14 which is blocking to automatically generated test data for this library.

[2015-02-16 15:33] Hywan commented on #48
@ekoome Track: https://github.com/hoaproject/Ruler/issues/48.

[2015-06-02 06:50] dhaarbrink opened #61 "Lint"
Hi,

I would really like to be able to lint an expression.
Ruler::interpret() seems like a candidate, but doesn't really cut it.

Something like Ruler::lint($rule):bool would be enough for my purposes. A ::getLintErrors() is optional and could be implemented later.
Examples:
lint('points > 40') > true
lint('points && true') > false

Could something like this be done?
I am also willing to build it

[2015-06-02 07:07] Hywan commented on #61
What do you mean by “lint”?

[2015-06-02 07:13] dhaarbrink commented on #61
Basically a syntax check, see [wiki](http://en.wikipedia.org/wiki/Lint_%28software%29), [php.net](http://php.net/manual/en/function.php-check-syntax.php) and [SO](http://stackoverflow.com/questions/378959/is-there-a-static-code-analyzer-like-lint-for-php-files) for example.

[2015-06-02 07:20] Hywan commented on #61
Ok, this kind of lint :-). Only the syntax or also the semantics?

To check the syntax:

[code]

To check the semantics:

[code]

In both cases, if no exception is thrown, it means the rule is syntactically and/or semantically correct.

We definitively need to update the documentation. However, do you think we need a specific method/helper for that?

[2015-06-02 07:37] dhaarbrink commented on #61
They are both not quite what is needed.

For example, the rule `group && true` is valid according to both methods. But there is no '&&' operator so `assert()` will still fail.

So what it would need to do is make sure that `assert()` will never fail. But I don't have any context at that moment, so I cannot simply execute `assert()`.

[2015-06-02 08:45] Hywan commented on #61
Operators belong to the asserter. Do you have an assert available?

[2015-06-05 11:17] dhaarbrink commented on #61
What do you mean with 'Do you have an assert available'?

[2015-06-05 14:57] Hywan commented on #61
An asserter*, sorry. If we have no asserter, we cannot know if operators are correctly used or if they at least exist.

[2015-07-01 12:49] Grummfy opened #63 "avoid use of serialize"
Hello,
in the documentation of hoa ruler we find this

    // We serialize and save the object model.
    $database->save($ruleId, serialize($model));

But we should avoid serialize for long storage. Why, because serialize lead on php model, and this model can evolve with PHP imself. So a value in the database can become invalid because of the php version have change. But there is also another iss

[2015-07-01 15:22] Hywan commented on #63
Agree. I am asking a peer review from @stephpy :-).

[2015-07-02 07:58] stephpy commented on #63
Hi,

You're right, that's why we store rule `customer.id = x` and not the compiled php.

It begin to be tricky, having a rule in "sql" then a compiled php object in "json", no ?

[2015-07-02 13:38] Hywan commented on #63
Instead of serializing to PHP, we could implement the `JsonSerializable` interface and therefore serialize to JSON?

[2015-07-03 15:52] stephpy commented on #63
Not sure it fixes the issues. If `serialize` method in PHP can't deal with new structure object, I guess `JsonSerializable` will too.

An idea is to version the rules, but it looks over engineered.

Since our goal is to serialize a **code part**, IMO it's difficult to find a system ... Or we have to write our own system but at this moment, stocking `the rule` is the best solution.

We could recomm

[2015-07-05 12:31] Hywan commented on #63
Seems good to me. Didn't meet this usecase so far, which is logical because no regression has been introduced yet.

/cc @hoaproject/hoackers

[2015-07-13 09:10] dhaarbrink commented on #61
I don't know, I just create a new \Hoa\Ruler\Ruler() (to which I have assigned any operators/functions).
For the time being I just supply a rule and context to its assert() method. It works good enough for now in this specific use case, but I won't always have a (real or synthetic) context available.

[2015-07-13 09:13] Hywan commented on #61
Withouh any context, we are not able to check that all operators exist or are correctly used, so the “linter” will be very limited.

[2015-07-13 09:17] dhaarbrink opened #64 "Fatal error on 'true' rule"
Given the following code:

    $ruler = new \Hoa\Ruler\Ruler();
    $result = $ruler->assert('true', new \Hoa\Ruler\Context());

I expect $result to equal boolean(true), but instead I get a Fatal error.
When I change the rule to 'true = true', I get the expected result.

But the main point is that I am getting a (non catchable) fatal error from which I cannot recover. A fatal error is unacceptable

[2015-07-13 09:19] dhaarbrink commented on #61
As far as I know the operators are not defined in the context, only the 'parameters' or 'variables' or whatever you call them. Maybe we can discuss this in a chat somewhere? Do you maybe have an irc channel?

[2015-07-13 09:29] Hywan commented on #61
Please, visit http://hoa-project.net/Community.html#Irc :-).

[2015-07-13 09:39] Hywan commented on #64
Please, could you test https://github.com/hoaproject/Ruler/pull/65? It fixes your issue here.

[2015-07-14 05:36] dhaarbrink commented on #64
@Hywan, #65 does indeed fix this issue for me.

[2015-07-14 06:36] #64 closed

[2015-07-14 06:41] Hywan commented on #64
This is not an important bug fix so we might wait at most 6 weeks before the next snapshot. @dhaarbrink If you need it, you can require `hoa/ruler@dev` in your `composer.json` file.

[2015-07-14 06:44] dhaarbrink commented on #64
We're not going to production with this product for another two weeks I think. So I'd rather wait for the stable version. Thanks for the heads up though!

[2015-07-14 06:45] Hywan commented on #64
@dhaarbrink Is it for an open source product, or something we can mention in our “hall of fame”?

[2015-07-14 06:45] Hywan commented on #64
Anyway, thank you for the bug report!

[2015-07-30 11:50] #47 closed

[2015-07-30 13:04] 1e1 commented on #41
It seems compex to explain what is wrong if the function has more parameter.
What's happens with:
`$rule  = 'logged(user, channel) and group in ["customer", "guest"] and points > 30';`

[code]
?

Perhaps, something like SQL explain should be more generic, even the message wil be more technical.

I see a response like:
[code]

[2015-07-30 13:11] 1e1 commented on #41
And a complete explaination:

[code]

[2015-07-30 14:43] 1e1 commented on #41
@vonglasow
I wonder how `var_dump($context)` and `closure_dump()` could solve this issue.
As you use a closure to define User context if you change:
`$rule  = 'logged(user) and group in ["customer", "guest"] and points > 30';`
to
`$rule  = 'group in ["customer", "guest"] and points > 30 and logged(user)';`
I will catch an exception because `group` and `points` are setted when you get `user`.

Perh

[2015-07-30 14:55] 1e1 opened #67 "Add an error message when we set a keyword in the context"
There is no warning if we set a reserved keyword in the context.
But we can not use it because there is no variable recognition (by escaped field or by location).

[code]

[code]
Well, at the first run we know the error.

Bug or not bug?

If the rule is editable by an end-user, `Hoa\Ruler\Ruler::interpret($rule)` should point on the second `and` instead of `>`.

[2015-07-31 07:34] Hywan commented on #67
@1e1 If you remove the `$context['and']` declaration, you don't have an error, correct?

[2015-07-31 08:27] 1e1 commented on #67
If I remove `$context['and'] = 1;` I have the same error.
Declaring a `and` context is ineffective.

I have to remove `and = 1` (and the `and` operator) to prevent the error:
- `$rule  = 'points > 30';` OK
- `$rule  = 'points > 30 and 1';` OK
- `$rule  = 'points > 30 and = 1';` expected FAIL
- `$rule  = 'points > 30 and and 1';` expected FAIL
- `$rule  = 'points > 30 and and = 1';` FAIL… expected

[2015-07-31 14:19] Hywan commented on #67
Give me some days to dig a little bit please, something more important on the way :-).

[2015-07-31 14:33] Hywan commented on #67
So, quickly. The error is not a bug, it's just the compiler that tries to find the last error. Then, … (in few minutes, I hope ;-)).

[2015-07-31 14:38] Hywan commented on #67
And yes, we cannot use variable names that are tokens of the grammar, because tokens —by definition— are reserved. Check the grammar: https://github.com/hoaproject/Ruler/blob/1641b64fa6b40ea91ec1e129515d53fbd0d12451/Grammar.pp#L54.

[2015-07-31 14:39] Hywan commented on #67
So… from my point of view, this is not a bug. It's like naming a class `class` in PHP. You don't want to do that, and we cannot prevent it. Well, the compiler prevents it by triggering an error.

[2015-07-31 14:40] Hywan commented on #67
So for me, the issue is closed. Feel free to re-open or ask more details if you are not satisfied. We will be glad to answer!

[2015-07-31 14:40] #67 closed

[2015-08-03 05:44] Hywan commented on #41
@1e1 I like your proposal in https://github.com/hoaproject/Ruler/issues/41#issuecomment-126318131, having the tree/AST view of the rule with associated error is a good `__toString`, if we go in this direction.

[2015-08-04 21:55] vonglasow commented on #41
@1e1
For now we have this kind of output
[code]
But we can improve it. I will try to make a test with your exemple to show you what is done yet. And if you have any idea to make this AST let me know we can work on it together.
@Hywan I am OK also for an AST, we talk together about an API to manage errors. What do you see for there next step ?

[2015-08-06 06:32] Hywan commented on #41
@vonglasow Not sure. I don't know what the user needs exactly here. It is not defined. In what case are we likely to use the errors API? What do we expect? What information do we need?

[2015-09-22 13:09] Grummfy opened #69 "invalid exampl indocumentation"
http://hoa-project.net/Fr/Literature/Hack/Ruler.html#Serialize_the_object_model

in this example we speak about $ruleId but this is not defined.

[2015-09-22 13:41] Hywan commented on #69
@Grummfy Hello :-),

Yes, this is almost a pseudo-code. Let's suppose `$ruleId` exists, this is not important to understand the algorithm. This is an uninstanciated variable.

[2015-09-22 13:41] #69 closed

[2015-11-02 21:18] mitze opened #72 "Date rules"
Hi,

I'm playing around with this fantastic library and wondered what would be the best way to make rules with dates.

If you could include some examples in the documentation it would be great.

Thank you.

[2015-11-03 06:20] Hywan commented on #72
@mitze Hi and thanks :smiley:,
What do you want to do with dates? This is an interesting usecase and I reckon it's not that hard, but there is so much possibilities I would like a clue about your goal.

[2015-11-03 13:42] mitze commented on #72
In my particular case I'm trying to evaluate the following conditions for a given date:

  - It's between two dates (eg 2015-11-03 13:35:23 is between 2015-11-03 09:00:00
    and 2015-11-04 08:59:59)

  - It's on a list of days of the week (eg Monday, Wednesday and Friday)

  - The number of seconds that have passed since an earlier date
    (eg 2015-11-03 10:35:23 - 2015-11-03 10:31:12 = 251 seco

[2015-11-04 09:49] Hywan commented on #72
It would be great to create these operators in the standard library (aka the operators provided by `Hoa\Ruler`). However, in order to not introduce a regression (let's say, if someone has already declared a similar operator and function, upgrading to a new version of `Hoa\Ruler` could break its code… actually it won't break because [its operators or functions will override existing ones](https://g

[2015-11-04 14:03] mitze commented on #72
I really like the idea.

What I was testing was to create new operators in the way that appears in the documentation.

[code]
However I prefer your suggestion as these pluggins can be more efficient and the code will look neater without aggregates in the middle.

Besides people could create and share their pluggins more easily.
So, the best of this library that is the flexibility would be even bet

[2015-11-05 06:52] Hywan opened #73 "Create custom collection of operators/functions"
Please, see https://github.com/hoaproject/Ruler/issues/72#issuecomment-153663322.

Any volunteers? /cc @hoaproject/hoackers

[2015-11-05 06:53] Hywan commented on #72
@mitze Yes, creating new functions like this is the correct way :+1:.

[2015-11-05 06:53] #72 closed

[2015-11-05 13:28] mitze commented on #72
@Hywan Thanks.

I will be following the improvements.

[2015-11-06 18:33] mitze opened #75 "Evaluate rule after a given time"
Hello again.

Another question / proposal:

I'm trying to solve how to assess a rule with a timing condition (Eg value > 21 and elapsed_time > 300)

When the other conditions are true, after 300 seconds I want to check if the context remain the same. It's easy search in de DB to find the received values in the time range, but I don't know how to postpone the evaluation without blocking the whole p

[2015-11-09 05:53] Hywan commented on #75
Hello :-),

I reckon this is not part of `Hoa\Ruler` to address your issue. Since PHP has no native asynchronous mechanism, yes, you will have to block the main thread in order to wait 300 seconds. You maybe can schedule a task somewhere to continue your check. Yes, `Hoa\Worker` could be a good tool for that :-).

[2015-11-09 05:53] #75 closed

[2015-11-09 13:14] mitze commented on #75
Thank you. I'll try that way.

[2015-11-14 12:42] abioneperhobby opened #76 "syntax error in a core/Consistency.php after installing with composer"
Hi.
I'm a newbie of composer so probably i made something wrong but after installing with composer , netbeans warned me about an error in core/Consistency.php

that is because of

if (!function_exists('curry')) {
    function curry($callable)
    {
        $arguments = func_get_args();
        array_shift($arguments);
        $ii        = array_keys($arguments, …, true);

        return function (

[2015-11-14 12:43] abioneperhobby commented on #76
and the same file in the function curry_ref

[2015-11-16 07:00] Hywan commented on #76
This is not an error. This is a Netbeans bug that do not support PHP syntax correctly :-).

[2015-11-16 07:00] #76 closed

[2015-12-22 18:06] julban opened #78 "Wrong use of instanceof"
Hi,
I have spotted a wrong use of instanceof having anyway the expected result.
Have a look at [Disassembly class](https://github.com/hoaproject/Ruler/blob/master/Visitor/Disassembly.php#L64]) :
[code]
should fail because expected class is Ruler\Model\Model , BUT it just works.
I didn't know that instanceof works with upper level in namespace. In fact it does not, it's just because last level in c

[2015-12-23 08:31] julban opened #79 "Incorrect condition on disassembly"
Hi all,

There is a problem in [Disassembly class](https://github.com/hoaproject/Ruler/blob/master/Visitor/Disassembly.php#L83) on the isToken condition.
Instead of adding parenthesis when using not, and, or, xor , it adds parenthesis on other operators.
Example:
- the rule I write and I expect to get after interpreting it, getting the Model and then disassembling it:
[code]
- the rule I currently

[2015-12-24 12:05] Jir4 commented on #78
A class_alias is defined so an instance of Hoa\Ruler\Model is an instance of Hoa\Ruler\Model\Model, this behavior is here to shorten the call.

plz see :
https://github.com/hoaproject/Ruler/blob/master/Model/Model.php#L200

and :
https://github.com/hoaproject/Core/blob/305a881847478d635f3cf565fd5e8ef382c21a70/Consistency.php#L511-L523

[2015-12-26 12:35] julban commented on #78
Ok I see, thx for the explanation!
I guess the issue is resolved then :-)

[2015-12-26 12:35] #78 closed

[2015-12-29 09:18] Hywan commented on #79
Hello!

Nice one :-). Can you write a PR please?

[2015-12-29 09:21] Hywan commented on #78
@Jir4 :+1:

[2016-01-01 18:57] stephpy commented on #79
Good catch. :)

[2016-01-01 19:21] julban commented on #79
Thanks, I'll do a PR next week unless someone needs it before, anyone's free to do it so.

[2016-02-24 18:32] janvandijk commented on #27
How far did you come with this use-case? I'm wanting to implement the same kind of functionality

[2016-02-24 18:45] th3fallen commented on #27
@janvandijk see https://github.com/hoaproject/Ruler/issues/27#issuecomment-62015619 i did it using the `setOperator` method.

[2016-02-25 11:48] janvandijk commented on #27
Awesome, I did read that comment... was wondering if there were any changes since then.

(Thank you for your reply!) :+1:

[2016-02-26 18:32] mdewyer opened #84 "Match any in array?"
I have a quick question. I have a context value that is an array, and I'd like to see if any of the values within the array match the rule. For example:

    $rule = 'segment = "test"';

    $context            = new Hoa\Ruler\Context();
    $context['segment'] = array('value1','test','value3');

I know I can use:

    $rule = 'segment[1] = "test"';

To get a match, but I don't know if the "test"

[2016-02-27 09:20] Hywan commented on #84
Yup, you can use the `in` operator. Something like `"test" in segment` might work.

[2016-02-28 00:11] mdewyer commented on #84
Thanks! Is there a way to use the logical operators with this to see if any of the values of the context array are for example greater than the value? Ex:

`$rule = 'order_total > 15';
$context['segment'] = array(12.50,20.99,10);`

[2016-02-28 07:24] Hywan commented on #84
Nop. But you can create your own operator very easily! See http://hoa-project.net/En/Literature/Hack/Ruler.html#Add_functions.

[2016-02-29 17:19] mdewyer commented on #84
Ok, cool. Thanks Ivan!

[2016-02-29 19:17] #84 closed

[2016-02-29 19:18] Hywan commented on #84
Feel free to re-open it if necessary!

[2016-05-02 07:39] stephpy commented on #63
Hi, I guess we could close this one. :)

[2016-05-02 07:42] stephpy commented on #11
Is it still relevant ?

[2016-05-02 08:42] shouze commented on #11
@Hywan just in case of BC break array notation support, the best thing should be indeed to adopt something similar to [matlab notation](http://fr.mathworks.com/videos/working-with-arrays-in-matlab-101637.html) no? So yes `[` and `]`, so php `array(1, 2)`or `[1, 2]` should be represented by `[1 2]` notation. Parenthesis are so much essential in operation groups that they can't be used also for arra

[2016-05-09 07:08] #63 closed

[2016-05-09 07:09] Hywan commented on #63
:+1:

[2016-05-09 07:24] Hywan commented on #11
@shouze Arrays are represented by `[` and `]` since a long time. The comments above are outdated.

@stephpy This might be still relevant I guess but this is still hard to implement. This will duplicate code from [`Hoa\Math`](http://central.hoa-project.net/Resource/Library/Math), except if we re-use the arithmetical visitor.
Are you willing to do it?

[2016-05-09 08:38] shouze commented on #11
@Hywan Oops, yes indeed, sorry.

[2016-05-30 15:30] ulk200 opened #86 "Error "Failed to open stream hoa://Library/Ruler/Grammar.pp" wich seems related to case sensitivity"
Hi,

I'm trying to use Ruler in my project, but when i "interpret" a rule, i get the following error :
`Failed to open stream hoa://Library/Ruler/Grammar.pp`

After some debugging i found that Hoa\Protocol\Protocol is looking into two directories (at the end of the "resolve" function) :
`<my_root>/src/vendor/Hoathis/Ruler/Grammar.pp`
`<my_root>/src/vendor/Hoa/Ruler/Grammar.pp`

But the `file_exist

[2016-05-31 07:23] Hywan commented on #86
Hello,

What versions are you using? What is the output of `composer show` please?

[2016-05-31 07:43] ulk200 commented on #86
Thank you for your answer, my composer.json is
[code]

`composer show` gives
[code]

[2016-05-31 08:20] ulk200 commented on #86
Sorry, the problem seems to be from my own environement, i'm using the xautoload module of Drupal to load composer, but using a simple `require_once vendor/autoload.php` resolves the issue. I will look into what differs between the autoloader of xautoload and the one from composer. I will update this issue later if i find something usefull

[2016-05-31 08:35] ulk200 commented on #86
Of found it, i managed to force the `WITH_COMPOSER` constant to `true` and it solves the issue : the \Hoa\Protocol\Node\Library will do its things and not call its parent on top of the `reach` function.
This performs some `strtolower` that where needed in my case.
What is the use case behind the `WITH_COMPOSER` constant ?

[2016-05-31 08:46] Hywan commented on #86
The `hoa://` protocol looks for resources. It abstracts the access to resources. In case resources are installed with Composer, we need to look in very specific path (`vendor/xxx/yyy/` for the `Xxx\Yyy` library). Because Composer puts the first two elements of the path in lowercase, we have to tricky things. This is why we have the `WITH_COMPOSER` constant. It is used only in the `Hoa\Protocol` li

[2016-05-31 08:48] Hywan commented on #86
Oh, and the `WITH_COMPOSER` constant is set to `true` if a class from Composer is present at runtime. You did install resources/dependencies with Composer but you're not using it after that. Is it an edge case?

[2016-05-31 09:44] ulk200 commented on #86
Thank you for the explanations :)
Yes i install the resources with composer but i'm using a third party autoloader (xautoload which is a Drupal 7 module), not the one from composer.
I don't know if it's an edge case, thinking in reverse why  would an hypotetical `WITHOUT_COMPOSER` constant means that the directories be always camelcase ?
An improvement could be to separate the "downloaded_with_com

[2016-05-31 11:07] #86 closed

[2016-05-31 11:09] Hywan commented on #86
We are discussing if we should consider this as an edge case or if this is more. Thank you for your feedback and your exemplary help. May I ask you to open an issue on [`Hoa\Protocol`](https://github.com/hoaproject/Protocol) for the sequel of this discussion please?

[2016-07-29 11:15] yellow1912 opened #87 "Is this project still actively maintained?"
It seems like there is no update in the last 6 months?

[2016-07-29 12:12] vonglasow commented on #87
Hello, yes it's still maintained, we are focus now on PHP7.1 compatibility which is a big part of all libraries. Also we have improved and added a lot of tests. If you have a specific needed feel free to create an issue or make a Pull Request we will review it as soon as possible.

[2016-07-29 13:42] Hywan commented on #87
@yellow1912 Hello :-), yes this library is still active. We are currently working on bringing more safety and updating performance of the underlying library, namely [`Hoa\Compiler`](http://central.hoa-project.net/Resource/Library/Compiler). This is a long-term work and from the outside it can feel like it is not active, but I can ensure you it is!

[2016-07-29 13:43] Hywan commented on #87
@yellow1912 As @vonglasow has suggested, if you need a particular feature, please, tell us.
I let the issue open. Please, feel free to close it if the question is resolved.

[2016-07-30 00:40] yellow1912 commented on #87
I'm glad to know it is still maintained. I'm looking for a ruler lib to use and considering this one to be the strongest candidate. I checked a few issues and there are a few PRs that have not been merged for a while so I had to ask for sure. Thank you for your hardwork.

[2016-07-30 00:40] #87 closed

[2016-09-09 14:57] #79 closed

[2016-09-09 14:57] Hywan commented on #61
ping?

[2016-09-09 15:04] dhaarbrink commented on #61
I am not working anymore on the project I needed this for.
And I don't think I will find the time nor inclination to get this built.

[2016-09-09 16:32] jubianchi commented on #11
Looking at the code and grammars, this seems pretty hard to implement. At least, it will require many code duplication:

* part of the `Arithmetic.pp` grammar will have to be added here
* some of the rules in `Arithmetic.pp` will have to change a bit: for example, `Arithmetic.pp` expects a `number` token and Ruler works with `float`s and `integer`s
* The visitor from [`Hoa\Math`](http://central.ho

[2016-09-12 07:37] Hywan commented on #11
Yup, it's a very hard problem.

[2016-09-12 07:38] Hywan commented on #61
OK :-).

[2016-09-12 07:38] #61 closed

[2016-09-12 07:38] Hywan commented on #61
Thanks for your question. We will still be happy to help in the future!

[2016-09-14 08:37] Pierozi opened #92 "Why operator cast to lowercase ?"
Hello,

I trying a rule with camelcase operator and discover the Ruler\Model cast to lowercase.
Business logic term may want use native language of business with long name like :

`produitBloquerEnRetail(product)` vs `produitbloquerenretail(product)`
`produitAlternatifEnStock(product)` vs `produitalternatifenstock(product)`

https://github.com/hoaproject/Ruler/blob/master/Model/Model.php#L140
[cod

[2016-09-14 08:39] Hywan commented on #92
Hello,

It means the language is case-insensitive.
I don't understand “why not rule”?

[2016-09-14 08:47] Pierozi commented on #92
Sorry, just check it, and is the value give to `Asserter::setOperator()` must be lowercase, because then the model look it by casting to lowercase.

Rule can be keep in case-insensitive, but operator not.
In this case we should cast to lower too for keep it case-insensitive no ?.

https://github.com/hoaproject/Ruler/blob/master/Visitor/Asserter.php#L468
[code]

[2016-09-14 08:48] Hywan commented on #92
What do you call a rule?

Indeed, `setOperator` should lowercase the operator. Do you want to make a PR?

[2016-09-14 09:01] Pierozi commented on #92
Rule is rule :smile: `logged(user) and group in ["customer", "guest"] and points > 30`

Yep i will write PR right now.
There is MWE

[code]

[2016-09-14 14:35] jubianchi opened #94 "Produce results in response of rules evaluation"
Ruler is well designed for writing rules and making assertions on them (i.e checking if some input validates the rule).

An nice feature would be to be able to produce any result in response of these assertions (i.e if some input validates a rule then the engine should provide us with a value).

Let's take a simple example:

* If I'm at least 16 years old, I can buy beer
* If I'm at least 18 years

[2016-09-14 14:42] Hywan commented on #94
That's an excellent idea.
I would change the API though. Why not having:

[code]

where `$ruleKind` is a `Then` or other rule.
Thus, behind `add`, we will have a graph.

Thoughts?

[2016-09-14 14:59] jubianchi commented on #94
@Hywan you are totally right. I made some mistake while writing the issue. They are now fixed.

[2016-09-14 15:00] Hywan commented on #94
@jubianchi What do you think of my API proposal?

[2016-09-14 15:01] Grummfy commented on #94
yeah! far better!

[2016-09-14 15:08] jubianchi commented on #94
@Hywan I'm totally ok with your API proposal, I edited the issue's description:

[2016-10-06 21:00] sanderdekroon opened #97 "Matches operator does not match"
I really love this project, it's working great so far! Except one thing, which I'm probably failing to understand (correctly).
I'm trying to match a 'description' with a partial string. I've found the matches operator and created the following rule:
`description matches "somestring"`

I load up the context, the rule, etc. And run it against this context:
`lorem ipsum dolor sit somestring amet`

No

[2016-10-13 20:59] Hywan commented on #97
Huh? What? I sent a comment for this issue 6 days ago… damn…
So, from memory… the `matches` operator works as expected:
[code]
Can we have more details please? Did you try with a minimal working example?

[2016-10-14 06:39] #45 closed

[2016-11-08 20:44] Pittiplatsch opened #100 "Precedence of logical operators"
Hello,
thank you very much for this wonderful library.

I think I found a bug, where the well-known precedence of logical operators isn't applied.

The following three expressions which are semantically identical yield different results:

The explicit way:
`(false and true) or true` correctly results in `true`

The implicit way which is idencal due to mathematical conventions:
`false and true or t

[2016-11-09 07:43] Hywan commented on #100
Hello and thank you for the detailed bug report!

Here is my try:
[code]
I guess the tree should look like this:
[code]

So in our implementation, logical operators are right-associatives, whilst they are commonly left-associatives.

[2016-11-09 12:01] Pittiplatsch commented on #100
Thank you for your reply.

In my eyes the problem isn't a question about left- or right-assiociatives. You can see that if you include my `$rule3` in your inspections.

Either way (left- or right-assiociating), `$rule2` and `$rule3` will yield in complementary results whilst they should be identical!

IMO operators must be set in relation to each other to achieve precedence. However I understand t

[2016-12-21 07:04] xeoshow opened #101 "How could I combine different existing rules?"
Hi,

I am new to Ruler, and just have a basic question: How could I combine different existing rules dynamically?
Tried to google and searched in the GIT repo, did not find any related things...

Thanks!

[2016-12-21 07:58] Hywan commented on #101
Hello :-),

A rule returns a boolean, this is a predicate, so you can `assert(r1) && assert(r2)`, or `assert(r1) or assert(r2)`, just like you want :-).

[2017-02-10 04:07] Commander223 opened #103 "How can I check that array contain sub array?"
Hi,
Need check that some array contain subarray, only way I find create rule for all items in subarray, like "item1 in ['item1', 'item2', 'item3', 'item4', 'item5'] and item2 in ['item1', 'item2', 'item3', 'item4', 'item5'] and item5 in ['item1', 'item2', 'item3', 'item4', 'item5']"
Thanks!

[2017-02-10 14:45] Hywan commented on #103
Hello 😄,

I think creating an operator for that would be appropriate, like `is_subset_of`:

[code]

then:

[code]

Not tested, but it should work.

Is it clear?

[2017-02-12 16:05] Commander223 commented on #103
Thank you, it work perfect!
Also one more question, is it possible to return on which value test was stopped?

`$ruler->getDefaultAsserter()->setOperator('is_subset_of', function (array $needles, array $haystack): bool {
    foreach ($needles as $needle) {
        if (false === in_array($needle, $haystack)) {
            if($this->returnError) {
               return $needle;
           }

[2017-02-13 08:16] Hywan commented on #103
@Commander223 There is no error API yet. You might want to check #41. cc @vonglasow

[2017-02-13 08:16] #103 closed

[2017-02-13 08:53] Commander223 commented on #103
@Hywan Ok. Thx for help.

[2017-02-13 09:06] Hywan commented on #103
You're welcome! Feel free to ask anything else! And thanks for using our libraries 😃.

[2017-02-13 09:07] Hywan commented on #103
@Commander223 Are you still living in Kyrgizstan? If yes, can you come on IRC (freenode #hoaproject), I would have some questions for you 😉.

[2017-03-24 13:25] Hywan commented on #100
Actually, our logical operators are right-associatives. So we should fix it by having them left-associatives.

[2017-03-24 13:50] Hywan commented on #100
@Pittiplatsch I am really really really sorry for the too late reply… I have finally time to work back on issues on Hoa. Excuse me. A PR has been proposed, see #107 please. Your feedback is valuable.

[2017-03-26 18:20] Pittiplatsch commented on #100
I'm still unsure about the right vs. left association thingy...
However, dividing the grammar into separate OR / AND pieces looks reasonable, as does your unit test, which exactly mirrors my test cases.
Thank you for fixing :-)

[2017-04-26 08:51] #100 closed

[2017-05-02 10:17] shulard opened #108 "Maybe an issue in `identifier` definition ?"
Hello,

I'm currently using Hoa\Ruler in a project to validate complex form fields rules.

I use UUID v4 as field name so I can have a rule like this :

[code]

This rules doesn't compile properly because the second field identifier start with an integer so the analyzed token sequence is :

* identifier : `baacf872-d554-4125-95e2-b16cdf3dd8f3`
* operator : `=`
* string = `"GIST"`
* operator : `or`

[2017-05-02 12:38] Hywan commented on #108
Hello 😃,

You're right, an identifier cannot start by an integer. An identifier is defined as:

[code]

(see [the grammar](https://github.com/hoaproject/Ruler/blob/d835e4741023e83cd88fafb17482742b5bfa281f/Grammar.pp#L67))

So it should match a text starting by an integer, but this is last defined. Therefore, we look at previous tokens, we see:

[code]

So if you have `4.2`, it will be the token `f

[2017-05-02 12:39] #108 closed

[2017-05-02 12:39] Hywan commented on #108
My recommendation would be to prefix your variables, by `_` for instance.

[2017-05-10 07:22] manuelbcd opened #109 "Access to an array returned by a method property"
Hi. This way of accessing is not working, almost in my tests.

Imagine that PropertyA is an associative array like this:  ["a" => "b", "c" => "d"]

**assertion)** object.getPropertyA()["a"] = "b"   -->  Throws the following error

[code]

It seems that the chain      object.property()[array_position] does not work.

**----------Update------------------------**

I just realized that the array is no

[2017-05-16 07:15] Hywan commented on #109
Hello :-),

Does the `ArrayCollection` from Doctrine acts as an array (with `ArrayAccess` for instance)?
We should patch https://github.com/hoaproject/Ruler/blob/master/Visitor/Asserter.php#L333-L366 to accept more than regular arrays, but array-like structure. Do you want to try a patch?

[2017-05-16 07:21] Hywan commented on #109
@manuelbcd See https://github.com/hoaproject/Ruler/pull/106.

[2017-05-16 07:43] #109 closed

[2017-05-16 07:44] Hywan commented on #109
#106 has been merged. Problem solved normally.

[2017-05-17 22:22] manuelbcd commented on #109
Great. Thank you

[2018-01-15 00:48] drewsymo opened #114 "Still maintained?"
Hi!

Just wondering if this library is still mantianed?

Seems the website isn't loading: https://hoa-project.net/

[2018-01-15 08:57] vonglasow commented on #114
@drewsymo yes this library is still maintained, we are investigating about the website not responding.
Thanks for the report

[2018-01-15 13:58] Hywan commented on #114
Hello,

Our Web server is down. We are looking actively to restore it :-).

[2018-01-15 13:58] #114 closed

[2018-01-15 14:06] Hywan commented on #114
@drewsymo Fixed! Thanks for your patience and the reporting, and sorry for the issue…

[2018-01-31 19:08] beberlei opened #115 "Space or no-space in expressions"
It is a difference to have `foo="bar"` or `foo = "bar"` when evaluating this grammar. Is there a way to have both the same?

[2018-01-31 19:09] Hywan commented on #115
Hello :-),

I don't think there is any difference. Both should be supported.

[2018-01-31 19:16] beberlei commented on #115
@Hywan thants for the quick reply.

It renders different models `var_dump((string)$model);` from interpret():

[code]
[code]

[2018-01-31 19:19] beberlei commented on #115
@Hywan i should mention, we are not using ruler to execute, but we are visiting the AST ourselves to convert it into Elasticsearch query.

[2018-01-31 19:21] Hywan commented on #115
Indeed, I can reproduce the bug. I don't have right now to fix it, but probably on Friday. Is it working for you?

[2018-01-31 19:22] Hywan commented on #115
[code]

I suppose I know how to fix that.

[2018-01-31 19:23] beberlei commented on #115
@Hywan don't worry or feel the need to commit to a time frame, i have a "workaround" for now :-)

[2018-01-31 19:47] Hywan commented on #115
The trick is easy actually:

https://github.com/hoaproject/Ruler/blob/28174caf3be01144e7e213fce75598404570e094/Grammar.pp#L67

We must change the token to be:

[code]

We should include also common operators. That's because an identifier can be anything.

[2018-02-01 10:07] beberlei commented on #115
I tried to copy the grammar with the small change, but it leads to a new error:

[code]

[2018-02-05 09:34] Hywan commented on #115
Sorry, had to fix other higher priority bugs. I'll come back to you as soon as possible :-).

[2018-02-05 09:52] Hywan commented on #115
Sorry, had to fix other higher priority bugs. I'll come back to you as soon as possible :-).

Try with:

[code]

[2018-03-15 00:16] drewsymo opened #118 "Interface for writing rules"
Hi and thanks for the awesome package!

We're looking to build a front-end interface for writing rules and wondering if there were any recommendations for autocompleting / suggesting rule operators?

[2018-03-15 18:41] TheDeadCode opened #119 "Invert operator"
Hello, is it possible to do something like `"human" not in ["alien", "animals"]` ?

[2018-04-10 22:37] vonglasow commented on #119
Hello,

It's possible to use `not` but the syntax should be

not("human" in ["alien", "animals"])

[code]

[2018-04-22 07:10] prayag-tydy opened #120 "Matching values in an Array?"
Hi,

I need to match values in an array. For example:

$rule = "role in ["admin","user","employee']";

$context['role'] = array(''employee","superadmin").

If any of the role given as an array present in the rule then it should return true. Could anyone please help me how can I achieve this?

[2018-04-24 14:56] Hywan commented on #120
Hi :-),

The `in` operator checks that an item is present in a collection of items.
What you want is to check that a list of items are present in a collection. I suggest you to create a new operator to achieve this :-). Check this small documentation https://github.com/hoaproject/Ruler#adding-operators-and-functions, or the official longer documentation to learn how to do that, https://hoa-project

[2018-04-27 07:55] prayag-tydy commented on #120
Hi Hywan. Thank you so much :). It worked. :D

[2018-05-16 14:02] #120 closed

[2018-05-16 14:04] Hywan commented on #119
I'm closing the issue since the answer is valid. If you feel you have something to add, feel free to comment and I will reopend it.

[2018-05-16 14:04] #119 closed

[2018-08-13 07:34] vucongduy1902 opened #122 "I want to get all variable appear in string rule. Example "q1 != 8 and q2 != 12", i need ["q1", "q2"] How ?"

[2018-08-14 14:06] Hywan commented on #122
Hello,

The best way is to visit the model (`Hoa\Ruler\Model`) and pick all [`Bag\Context` instances](https://github.com/hoaproject/Ruler/blob/master/Model/Bag/Context.php).

Do you need pointers or help?

[2018-08-15 04:10] vucongduy1902 commented on #122
Thank you very much. I got it.  :)).

[2018-08-15 05:15] #122 closed

[2018-08-15 05:16] Hywan commented on #122
Feel free to get in touch with us at any moment 😃!

[2020-06-21 11:39] vicdelfant opened #123 "Removing existing operators"
We'd like to use Ruler in a project that would ideally use localized (translated) operators to improve usability for the end-user, such as `en` for `and`, `niet` for `not` etc. This is of course possible by adding these operators to the `Asserter`, but there is no way to remove an existing operator.

Before I start working on a PR, I'd like to check whether there are any objections against an `Ass

[2020-06-23 08:14] guiled commented on #123
Why don't you change the Ruler grammar ?
at these lines https://github.com/hoaproject/Ruler/blob/master/Grammar.pp#L51-L54
Changing `(?i)not\b` by `(?i)niet\b` (or maybe, whatever you want in unicode)

[2020-06-26 10:33] vicdelfant commented on #123
Thanks! That's exactly what I was looking for.

[2020-06-26 10:33] #123 closed